.header{
    display: 'block';
    height: 30vh;
    background-color: rgba(211, 211, 211, 0.603);
  }
  
  .logo{
    height: 100%;
    width: 100%;
    object-fit: contain;
    text-align: left;
    float: left;
    display: block;
  }